body{
    background-color: rgb(0, 23, 78);
    background-image: url(nature.jpg);
    backdrop-filter: transparent 20px;
}

#img1{
    
    margin-left: 1000px;
    margin-top: -350px;
    border-width: 5px;
    border-style: solid;
    border-radius: 50px;
}
#greeting{
    margin-top: 50px;
    
    font-size: 100px;
    
    font-weight: bold;
    margin-left: 0px;
    color: aliceblue;
}
#not{
    /* margin-top: 20px; */
    color: white;
    /* font-size: 80px;
    font-weight: bold; */
}
#name{
    margin-left: 0px;
}
/* #name2{
    margin-left: -300px;
} */
#not1{
    /* margin-top: 20px; */
    color: rgb(189, 14, 14);
    /* font-size: 80px;
    font-weight: bold; */
}
#education{
    font-weight: bold;
    border-width: 5px;
    border-style: solid;
    border-color: antiquewhite;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 1000px;
    font-size: 30px;
    color: rgb(230, 237, 176);
}
ul{
    color: white;
}
#row2{
    font-weight: bold;
    border-width: 5px;
    border-style: solid;
    border-color: antiquewhite;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 1000px;
    font-size: 30px;
    color: rgb(230, 237, 176);

}

